<% include _header %>

<style>
body{
    background: url(https://iphoneroscdn-iphoneros.netdna-ssl.com/wp-content/uploads/2017/07/iMacPro_iPhoneros_escritorio.jpg);
}
html,body{
    background-repeat:no-repeat; 
    background-position:center;
    position: relative;
    width:100%;
    height:100%;
    background-size:100% 100%;
}
</style>

<form action="/index" method="post" style="margin-top: 100px;">
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-8">
                <img class="img-fluid rounded" src="https://owdt.com/wp-content/uploads/2015/03/smartphones-1.png" alt="" style="margin-left: -130px;">
            </div>
            <div class="col-lg-4">
                <h1 style="color: white; margin-left: 20px;">Necesitas un smarthphone? ¡Aquí puedes encontrarlo!</h1>
                <p style="color: white; margin-left: 20px;">En esta página puedes encontrar diferentes tipos de celulares inteligentes. Inicia sesión o registrate para saber mas</p>
                <a class="btn btn-danger btn-lg" href="/login" style="margin-left: 20px;">Iniciar sesión</a>
                <a class="btn btn-danger btn-lg" href="/signup" style="margin-left: 20px;">Registrate</a>
            </div>
            </div>
        </div>
    </div>
</form>

<% include _footer %>