<%include _header%>

<style>
body{
    background: url(https://iphoneroscdn-iphoneros.netdna-ssl.com/wp-content/uploads/2017/07/iMacPro_iPhoneros_escritorio.jpg);
}
html,body{
    background-repeat:no-repeat; 
    background-position:center;
    position: relative;
    width:100%;
    height:100%;
    background-size:100% 100%;
}
</style>

<h1 style="color: white;">Usuarios registrados</h1>

<form action="/inicio" method="post">
<% usuarios.forEach((usuario) => {%>
    <div class="panel panel-default">
    <div class="panel-heading">
        <a href="/usuarios/<%= usuario.username %>">
        <%= usuario.name() %>
        </a>

    </div>
    <%if (usuario.bio){%>
    <div class="panel-body"><%= usuario.bio %></div>
<%}%>

    </div>

<% }) %>
</form>

<%include _footer%>